@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk");
 
:root { 
	--primary-color: #FEFAE0;
	--accent-color: #CCD5AE;
}

body {
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5%;
}


